swagger: "2.0"
info:
  version: "0.0.1"
  title: stylifier-api

host: cloud.stylifier.com
basePath: /

schemes:
  - https

paths:
  /register:
    x-swagger-router-controller: users
    post:
      description: create
      operationId: registerUser
      parameters:
        - name: userInfo
          in: body
          schema:
            $ref: '#/definitions/userToCreate'
      responses:
        "204":
          description: created
        "401":
          description: fail to create
          schema:
            $ref: '#/definitions/failUserCreatedResponse'
          examples:
            application/json; charset=utf-8:
              {
                message: 'failed to create user'
              }

  /brands:
    x-swagger-router-controller: brands
    get:
      description: get
      operationId: getBrands
      parameters:
        - name: q
          in: query
          description: query value to search for, type specified with `in` parameter
          type: string
          x-example: "acme"
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
      responses:
        "200":
          description: return `allow [ tags ]`
          schema:
            type: array
            items:
              $ref: '#/definitions/brand'
          examples:
            application/json; charset=utf-8:
              [{
                "name": "acme",
                "description": "",
                "followersCount": 1000,
                "avatar": "https://upload.wikimedia.org/wikipedia/commons/thumb/8/80/Logo_acme.svg/1000px-Logo_acme.svg.png",
              }]
  
  /users:
    x-swagger-router-controller: users
    get:
      description: get
      operationId: getUsers
      parameters:
        - name: q
          in: query
          description: query value to search for, type specified with `in` parameter
          type: string
          x-example: "tom"
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
      responses:
        "200":
          description: return `allow [ tags ]`
          schema:
            type: array
            items:
              $ref: '#/definitions/userBrief'
          examples:
            application/json; charset=utf-8:
              [{
                "username": "MockUser",
                "firstName": "mock",
                "lastName": "user",
                "followersCount": 1,
                "createdAt": "2017-12-26T18:54:24.921Z",
                "story": "Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.",
                "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg",
                "rating": 4,
                "styles": ["formal"],
                "sponsors": {
                  "name": "acme",
                  "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg"
                }
              }]
  /login:
    x-swagger-router-controller: login
    post:
      description: login
      operationId: login
      parameters:
        - name: loginInfo
          in: body
          schema:
            $ref: '#/definitions/loginInfo'
      responses:
        "200":
          description: return jwt if succesfull
          schema:
            $ref: '#/definitions/loginResponse'
          examples:
            application/json; charset=utf-8:
              {
                jwt: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJGTHpoZVhFUUc1MVBPeWphV2wwSEllUTVvNWxKYk5mQSJ9.wSqyHgqfwhFey7CirsxCdu9JVMlN8qxLK1oxepFWWfo'
              }

  '/users/{username}':
    x-swagger-router-controller: user
    get:
      description: get all user images
      operationId: getUserByUsername
      parameters:
        - name: username
          in: path
          required: true
          type: string
      responses:
        "200":
          description: array of users
          schema:
            $ref: '#/definitions/user'
          examples:
            application/json; charset=utf-8:
              {
                "username": "MockUser",
                "firstName": "mock",
                "lastName": "user",
                "followersCount": 1,
                "createdAt": "2017-12-26T18:54:24.921Z",
                "story": "mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.",
                "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg",
                "rating": 1,
                "followers": [{
                  "username": "MockUser",
                  "firstName": "mock",
                  "lastName": "user",
                  "followersCount": 1,
                  "createdAt": "2017-12-26T18:54:24.921Z",
                  "story": "Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                  
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.",
                  "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg",
                  "rating": 4,
                  "styles": ["formal"],
                  "sponsors": {
                    "name": "acme",
                    "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg"
                  }
                }],
                "styles": ["casual", "formal"],
                "sponsors": [{
                  "name": "acme",
                  "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg"
                }]
              }
  
  '/users/{username}/images':
    x-swagger-router-controller: feeds
    get:
      description: get user recent feeds
      operationId: getUserImages
      parameters:
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
        - name: username
          in: path
          required: true
          type: string

      responses:
        "200":
          description: array of links to images
          schema:
            $ref: '#/definitions/imagesResponse'
          examples:
            application/json; charset=utf-8:
              [{
                "id": "9210dce8-25da-4275-a73a-1383b9774253",
                "createdAt": "2017-12-26T18:54:24.921Z",
                "isPublic": true,
                "owner": "anna"
              },
              {
                "id": "8e0e5bea-f914-492a-8a2b-011bdbae7ae7",
                "createdAt": "2017-12-26T18:54:24.921Z",
                "isPublic": true,
                "owner": "anna"
              }]

  '/user/self':
    x-swagger-router-controller: user
    get:
      description: get all user images
      operationId: getSelfUser
      responses:
        "200":
          description: array of users
          schema:
            $ref: '#/definitions/user'
          examples:
            application/json; charset=utf-8:
              {
                "username": "MockUser",
                "firstName": "mock",
                "lastName": "user",
                "followersCount": 1,
                "createdAt": "2017-12-26T18:54:24.921Z",
                "story": "mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.",
                "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg",
                "rating": 1,
                "followers": [{
                  "username": "MockUser",
                  "firstName": "mock",
                  "lastName": "user",
                  "followersCount": 1,
                  "createdAt": "2017-12-26T18:54:24.921Z",
                  "story": "Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                  
Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum.",
                  "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg",
                  "rating": 4,
                  "styles": ["formal"],
                  "sponsors": {
                    "name": "acme",
                    "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg"
                  }
                }],
                "styles": ["casual", "formal"],
                "sponsors": [{
                  "name": "acme",
                  "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpeg"
                }]
              }
  '/feeds':
    x-swagger-router-controller: feeds
    get:
      description: get user recent feeds
      operationId: getFeeds
      parameters:
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'

      responses:
        "200":
          description: array of links to images
          schema:
            $ref: '#/definitions/imagesResponse'
          examples:
            application/json; charset=utf-8:
              [{
                "id": "9210dce8-25da-4275-a73a-1383b9774253",
                "createdAt": "2017-12-26T18:54:24.921Z",
                "isPublic": true,
                "owner": "anna"
              },{
                "id": "f5d1b877-3d37-4edf-913b-b0e6c9a21e84",
                "createdAt": "2017-12-26T17:54:24.921Z",
                "isPublic": true,
                "owner": "tim"
              },{
                "id": "d42e0091-2c67-437b-987c-296661c0dc3e",
                "createdAt": "2017-12-26T15:54:24.921Z",
                "isPublic": true,
                "owner": "tim"
              },
              {
                "id": "8e0e5bea-f914-492a-8a2b-011bdbae7ae7",
                "createdAt": "2017-12-26T18:54:24.921Z",
                "isPublic": true,
                "owner": "anna"
              }]

  '/images':
    x-swagger-router-controller: images
    get:
      description: get all user images
      operationId: getSelfImages
      parameters:
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
      responses:
        "200":
          description: array of links to images
          schema:
            $ref: '#/definitions/imagesResponse'
          examples:
            application/json; charset=utf-8:
              [{
                link: 'https://mock.stylifier.com/image/82736482'
              }]
    post:
      description: upload new image
      operationId: createImage
      parameters:
        - name: X-Is-Public
          in: header
          required: true
          type: boolean
        - name: X-Thread-Id
          in: header
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        - name: X-Message-Id
          in: header
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'

      responses:
        "200":
          description: Object of the image
          schema:
            $ref: '#/definitions/image'
          examples:
            application/json; charset=utf-8:
              { 
                "success": true
              }

  '/images/{imageId}':
    x-swagger-router-controller: images
    get:
      description: get all user images
      operationId: getImageById
      parameters:
        - name: imageId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '1210dce8-25da-4275-a73a-1383b9774255'

      responses:
        "200":
          description: object of image


  '/threads':
    x-swagger-router-controller: threads
    get:
      description: get all user's threads
      operationId: getSelfThreads
      parameters:
        - name: from
          in: query
          description: threads from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
        - name: to
          in: query
          description: threads to date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
      responses:
        "200":
          description: array of threads
          schema:
            $ref: '#/definitions/threadsResponse'
          examples:
            application/json; charset=utf-8:
              [{
                "id": "9210dce8-25da-4275-a73a-1383b9774255",
                "status": "OPEN",
                "from": "MockUser",
                "to": "anna",
                assets: [{
                  "id": "d42e0091-2c67-437b-987c-296661c0dc3e",
                  "createdAt": "2017-12-26T15:54:24.921Z",
                  "threadId": "9210dce8-25da-4275-a73a-1383b9774255",
                  "isPublic": false,
                  "owner": "tim"
                },
                {
                  "id": "8e0e5bea-f914-492a-8a2b-011bdbae7ae7",
                  "threadId": "9210dce8-25da-4275-a73a-1383b9774255",
                  "createdAt": "2017-12-26T18:54:24.921Z",
                  "isPublic": false,
                  "owner": "anna"
                }]
              }]
    post:
      description: create a new thread
      operationId: createThread
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/thread'

      responses:
        "200":
          description: array of threads
          schema:
            $ref: '#/definitions/threadsResponse'
          examples:
            application/json; charset=utf-8:
              {
                "id": "9210dce8-25da-4275-a73a-1383b9774255",
                "success": true
              }

  '/threads/{threadId}/messages':
    x-swagger-router-controller: threadsMessages
    get:
      description: get a thread messages
      operationId: getMessages
      parameters:
        - name: threadId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '9210dce8-25da-4275-a73a-1383b9774255'
        - name: from
          in: query
          description: messages from date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
        - name: to
          in: query
          description: messages to date
          required: false
          type: string
          default: '2017-12-30T11:15:25.038Z'
      responses:
        "200":
          description: array of threads
          schema:
            $ref: '#/definitions/threadsResponse'
          examples:
            application/json; charset=utf-8:
              [{
                "createdAt": "",
                "text": "",
                "status": "DELIVERED",
                "id": "9210dce8-25da-4275-a73a-1383b9774255",
                "threadId": "9210dce8-25da-4275-a73a-1383b9774255",
                assets: [{
                  "id": "d42e0091-2c67-437b-987c-296661c0dc3e",
                  "createdAt": "2017-12-26T15:54:24.921Z",
                  "threadId": "9210dce8-25da-4275-a73a-1383b9774255",
                  "messageId": "9210dce8-25da-4275-a73a-1383b9774255",
                  "isPublic": false,
                  "owner": "tim"
                }]
              }]
    put:
      description: create a message
      operationId: createMessage
      parameters:
        - name: threadId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '9210dce8-25da-4275-a73a-1383b9774255'
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/message"

      responses:
        "204":
          description: successfully created

  /swagger:
    x-swagger-pipe: swagger_raw

definitions:
  loginInfo:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
     - username
     - password

  brand:
    type: object
    properties:
      name: 
        type: string
      description:
        type: string
      followersCount:
        type: number
      avatar:
        type: string
  
  userToCreate:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
      password:
        type: string
      firstName:
        type: string
      lastName:
        type: string
    required:
     - username
     - password
     - firstName
     - email

  style:
    type: string

  sponsors:
    type: object
    properties:
      name:
        type: string
      image:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
        
  userBrief:
    type: object
    properties:
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      story:
        type: string
      createdAt:
        type: string
      followersCount:
        type: number
      avatar:
        type: string
      rating:
        type: number
      styles:
        type: array
        items:
          $ref: '#/definitions/style'
      sponsors:
        type: array
        items:
          $ref: '#/definitions/sponsors'

  user:
    type: object
    properties:
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      createdAt:
        type: string
      story:
        type: string
      avatar:
        type: string
      rating:
        type: number
      followersCount:
        type: number
      followers:
        type: array
        items:
          $ref: '#/definitions/userBrief'
      styles:
        type: array
        items:
          $ref: '#/definitions/style'
      sponsors:
        type: array
        items:
          $ref: '#/definitions/sponsors'

  userSearchResponse:
    type: array
    items:
      $ref: '#/definitions/user'

  message:
    type: object
    properties:
      createdAt:
        type: string
      text:
        type: string
      status:
        type: string
        enum:
          - DELIVERED
          - SENT
          - SEEN
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      threadId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      assets:
        type: array
        items:
          $ref: '#/definitions/image'

  thread:
    type: object
    properties:
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      status:
        type: string
        enum:
          - REQUESTED
          - OPENED
          - RATING
          - CLOSED
      from:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      to:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      assets:
        type: array
        items:
          $ref: '#/definitions/image'
      createdAt:
        type: string
    required:
      - to

  threadsResponse:
    type: array
    items:
      $ref: '#/definitions/thread'

  failUserCreatedResponse:
    type: object
    properties:
      message:
        type: string

  image:
    type: object
    properties:
      owner:
        type: string
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      createdAt:
        type: string
      threadId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      messageId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      isPublic:
        type: boolean


  imagesResponse:
    type: array
    items:
      $ref: '#/definitions/image'

  loginResponse:
    type: object
    properties:
      jwt:
        type: string
