swagger: "2.0"
info:
  version: "0.0.1"
  title: stylifier-api

host: cloud.stylifier.com
basePath: /

schemes:
  - https

paths:
  /register:
    x-swagger-router-controller: users
    post:
      description: create
      operationId: post
      parameters:
        - name: userInfo
          in: body
          schema:
            $ref: '#/definitions/userToCreate'
      responses:
        "204":
          description: created
        "401":
          description: fail to create
          schema:
            $ref: '#/definitions/failUserCreatedResponse'
          examples:
            application/json; charset=utf-8:
              {
                message: 'failed to create user'
              }
  /users:
    x-swagger-router-controller: users
    get:
      description: get
      operationId: get
      parameters:
        - name: in
          in: query
          description: search user by one of login, email, full name; default is email
          required: false
          type: string
          enum:
            - fullname
            - email
            - login
          default: email
        - name: q
          in: query
          description: query value to search for, type specified with `in` parameter
          type: string
          x-example: "tom"
        - name: styles
          in: query
          description: syles that they include
          type: string
          x-example: "black tie"
          default: "black tie"
      responses:
        "200":
          description: return `allow [ tags ]`
          schema:
            $ref: '#/definitions/userSearchResponse'
          examples:
            application/json; charset=utf-8:
              [{
                username: 'test',
                name: 'test',
                followers: 1,
                avatar: 'https://avatars.githubusercontent.com/u/1?v=3'
              }]
  /login:
    x-swagger-router-controller: login
    post:
      description: login
      operationId: post
      parameters:
        - name: loginInfo
          in: body
          schema:
            $ref: '#/definitions/loginInfo'
      responses:
        "200":
          description: return jwt if succesfull
          schema:
            $ref: '#/definitions/loginResponse'
          examples:
            application/json; charset=utf-8:
              {
                jwt: 'eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJGTHpoZVhFUUc1MVBPeWphV2wwSEllUTVvNWxKYk5mQSJ9.wSqyHgqfwhFey7CirsxCdu9JVMlN8qxLK1oxepFWWfo'
              }

  '/users/{userId}':
    x-swagger-router-controller: user
    get:
      description: get all user images
      operationId: get
      parameters:
        - name: userId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      responses:
        "200":
          description: array of users
          schema:
            $ref: '#/definitions/user'
          examples:
            application/json; charset=utf-8:
              [{
              }]

  '/user-info':
    x-swagger-router-controller: user
    get:
      description: get all user images
      operationId: get
      responses:
        "200":
          description: array of users
          schema:
            $ref: '#/definitions/user'
          examples:
            application/json; charset=utf-8:
              {
                "username": "MockUser",
                "firstName": "mock",
                "lastName": "user",
                "story": "i am cool",
                "avatar": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpg",
                "rating": 1,
                "followers": 10,
                "styles": ["casual", "formal"],
                "sponsors": {
                  "name": "acme",
                  "image": "https://mock.stylifier.com/images/9210dce8-25da-4275-a73a-1383b9774253.jpg"
                }
              }
  '/feeds':
    x-swagger-router-controller: feeds
    get:
      description: get user recent feeds
      operationId: get
      parameters:
        - name: from
          in: query
          description: feeds from date
          required: false
          type: string
          default: 'new Date() - 24 hour'
        - name: to
          in: query
          description: feeds to date
          required: false
          type: string
          default: 'new Date()'

      responses:
        "200":
          description: array of links to images
          schema:
            $ref: '#/definitions/imagesResponse'
          examples:
            application/json; charset=utf-8:
              [{
                id: ''
                createdAt: ''
                isPublic: ''
              },
              {
                id: ''
                createdAt: ''
                isPublic: ''
              }]

  '/images':
    x-swagger-router-controller: images
    get:
      description: get all user images
      operationId: get

      responses:
        "200":
          description: array of links to images
          schema:
            $ref: '#/definitions/imagesResponse'
          examples:
            application/json; charset=utf-8:
              [{
                link: 'https://mock.stylifier.com/image/82736482'
              }]
    post:
      description: upload new image
      operationId: put
      parameters:
        - name: X-Is-Public
          in: header
          required: true
          type: boolean
        - name: X-Thread-Id
          in: header
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        - name: X-Message-Id
          in: header
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'

      responses:
        "200":
          description: Object of the image
          schema:
            $ref: '#/definitions/image'
          examples:
            application/json; charset=utf-8:
              [{
              }]

  '/images/{imageId}':
    x-swagger-router-controller: images
    get:
      description: get all user images
      operationId: get
      parameters:
        - name: imageId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '1210dce8-25da-4275-a73a-1383b9774255'

      responses:
        "200":
          description: object of image


  '/threads':
    x-swagger-router-controller: threads
    get:
      description: get all user's threads
      operationId: get

      responses:
        "200":
          description: array of threads
          schema:
            $ref: '#/definitions/threadsResponse'
          examples:
            application/json; charset=utf-8:
              [{
              }]
    post:
      description: create a new thread
      operationId: put
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/thread'

      responses:
        "200":
          description: array of threads
          schema:
            $ref: '#/definitions/threadsResponse'
          examples:
            application/json; charset=utf-8:
              [{
              }]

  '/threads/{threadId}':
    x-swagger-router-controller: threads
    get:
      description: get
      operationId: get
      parameters:
        - name: threadId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '9210dce8-25da-4275-a73a-1383b9774255'

      responses:
        "200":
          description: successfully created
          schema:
            $ref: '#/definitions/thread'
          examples:
            application/json; charset=utf-8:
              {
              }

  '/threads/{threadId}/messages':
    x-swagger-router-controller: threadsMessages
    put:
      description: create a message
      operationId: put
      parameters:
        - name: threadId
          in: path
          required: true
          type: string
          pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
          x-example: '9210dce8-25da-4275-a73a-1383b9774255'
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/message"

      responses:
        "204":
          description: successfully created

  /swagger:
    x-swagger-pipe: swagger_raw

definitions:
  loginInfo:
    type: object
    properties:
      username:
        type: string
      password:
        type: string
    required:
     - username
     - password


  userToCreate:
    type: object
    properties:
      username:
        type: string
      email:
        type: string
      password:
        type: string
      firstName:
        type: string
      lastName:
        type: string
    required:
     - username
     - password
     - firstName
     - email

  style:
    type: string

  sponsors:
    type: object
    properties:
      name:
        type: string
      image:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'

  user:
    type: object
    properties:
      username:
        type: string
      firstName:
        type: string
      lastName:
        type: string
      story:
        type: string
      avatar:
        type: string
      rating:
        type: number
      followers:
        type: number
      styles:
        type: array
        items:
          $ref: '#/definitions/style'
      sponsors:
        type: array
        items:
          $ref: '#/definitions/sponsors'

  userSearchResponse:
    type: array
    items:
      $ref: '#/definitions/user'

  message:
    type: object
    properties:
      date:
        type: string
      text:
        type: string
      status:
        type: string
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      threadId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      assets:
        type: array
        items:
          $ref: '#/definitions/image'

  thread:
    type: object
    properties:
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      status:
        type: string
      from:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      to:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      assets:
        type: array
        items:
          $ref: '#/definitions/image'
      messages:
        type: array
        items:
          $ref: '#/definitions/message'
    required:
      - to

  threadsResponse:
    type: array
    items:
      $ref: '#/definitions/thread'

  failUserCreatedResponse:
    type: object
    properties:
      message:
        type: string

  image:
    type: object
    properties:
      owner:
        type: string
      id:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      createdAt:
        type: string
      threadId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      messageId:
        type: string
        pattern: '^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$'
        x-example: '9210dce8-25da-4275-a73a-1383b9774255'
      isPublic:
        type: boolean


  imagesResponse:
    type: array
    items:
      $ref: '#/definitions/image'

  loginResponse:
    type: object
    properties:
      jwt:
        type: string
